.Header {
    text-align: center;
    color: white;
    margin-top: 3rem;
}

.Menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Menu li {
    display: inline-block;
    color: #ccc;
    padding-right: 10px;
}

.Menu li a {
    color: #ccc;
    text-decoration: none;
}

.Menu li a:hover {
    color:#655a5a;
}